

.container{
	width: 500px;
	height: 450px;
	text-align: center;
	margin: 0 auto;
	background-color: rgba(44, 62, 80,0.7);
	margin-top: 100px;
    
}

.container img{
	width: 200px;
	height: 200px;
	margin-top: -80px;
}

input[type="text"],input[type="password"]{
	margin-top: 30px;
	height: 45px;
	width: 300px;
    border-color: darkorchid;
    border-style: solid;
    border-width: 3px;
	font-size: 18px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 40px;
}

.form-input::before{
	content: "\f023";
	font-family: "FontAwesome";
	padding-left: 11px;
	padding-top: 40px;
	position: absolute;
	font-size: 35px;
	color: #708090; 
}

.form-input:nth-child(2)::before{
	content: "\f007";
}

.btn-login{
	padding: 15px 25px;
	border: none;
	background-color: #27ae60;
	color: #fff;
}

